

header {
	width: 100%;
	height: 11.5em;
	background-color: blue;
}

.menu {
	color: black;
	font-family: oswald, sans-serif;
	text-align: center;
}

.menu li {
	display: inline-block;
	padding: 1em 0.6em;
	text-transform: uppercase;
	color: #002D40;
}

.blog li {
	display: none;
}

.wave {
	display: none;
}

.menu h1{
	font-size: 2em;
	color: white;
	text-transform: uppercase;
	padding: 1.8em 0 0 0;
}

.menu h2 {
	font-size: 1em;
	padding: 0.4em 0 0 0;
	font-family: asap, sans-serif;
}

.wrapper {
	border-bottom: 2px solid #ddd;
	margin-bottom: 4em;
}

.content {
	padding: 0 2em 0 2em;
	font-family: sans-serif;
}

.content h1 {
	text-transform: uppercase;	
	font-size: 3.2em;
	padding: 1em 0 0.1em 0;
	line-height: 1em;
}

.content h2 {
	padding-top: 0.3em;
	color: blue;
	text-decoration: underline;
}

.content p {
	padding-top: 2em;
	line-height: 1.5em;
}

.indented-box {
	margin-top: 1.5em;
	padding: 0.6em 0;
	height: 3em;
	border-left: 4px solid #ddd

}

.pullquote {
	text-transform: uppercase;
	font-size: 1.25em;
	padding: 0.7em 0 0.5em 1em;
}

.content a {
	color: blue;
	text-decoration: underline;
}

.left-box {
	margin: 0.5em 0.7em 0 0;
	float: left;
}

.comment-icon {
	width: 2em;
	height: 2em;
	background-color: blue;
	display: inline-block;
}

.read-comments {
	width: 8em;
	background-color: green;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0.5em 0.5em 0.5em 0.5em;
	display: none;
}

.middle-box {
	margin: 0.5em 0.7em 0 0;
	float: left;
}

.later-icon {
	width: 2em;
	height: 2em;
	background-color: red;
	display: inline-block;
}

.read-later {
	width: 5em;
	background-color: green;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0.5em 0.5em 0.5em 0.5em;
	display: none;
}

.right-box {
	margin: 0.5em 0.7em 0 0;
}

.share-icon {
	width: 2em;
	height: 2em;
	background-color: black;
	display: inline-block;
}

.share-this-post {
	width: 8em;
	background-color: green;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0.5em 0.5em 0.5em 0.5em;
	display: none;
}

.right-column {

	padding: 0 2em 0 2em;
}

.dolphine {
	width: 7em;
	height: 7em;
	background-color: black;
	margin: 0 auto;
	margin-top: 7em;
	border-radius: 100%;
}

.dolphine-text {
	text-align: center;
	font-family: sans-serif;
	padding-top: 1em;
}

.dolphine-text h1 {
	text-transform: uppercase;
	font-size: 1.25em;
}

.dolphine-text li {
	font-size: 1.15em;
	display: inline-block;
	padding:0.5em 0.6em 3em 0;
}

.photo-ad {
	width: 100%;
	height: 16em;
	background-color: blue;
}

.ad {
	text-align: right;
	font-family: sans-serif;
	font-size: 1.15em;
	padding: 1em 0 3em 0;
}

#sidebar {
	display: none;
}

#sidebar-paragraph {
	display: none;
}

.content2 {
	padding: 0 2em 0 2em;
	font-family: sans-serif;
}

.content2 h1 {
	text-transform: uppercase;	
	font-size: 1.75em;
	padding: 0 0 1em 0;
	line-height: 1em;
}

.post {
	width: 100%;
	color: white;
	font-size: 1.75em;
	margin-bottom: 0.75em;
	padding: 7.5em 0 0.6em 0;
	text-transform: uppercase;
}

.post p {
	margin-left: .8em;
}

#first-post {
	background-color: red;
}

#hidden-post {
	background-color: black;
	display: none;
}

#second-post {
	background-color: green;
}

#third-post {
	background-color: blue;
}

footer {
	width: 100%;
	background-color: black;
	margin-top: 6em;
	text-align: center;
	padding-bottom: 1em;
}

.footer-text {
	width: 20em;
	font-family: sans-serif;
	font-size: 1.15em;
	color: white;
	text-align: center;
	line-height: 1.5em;
	margin: 0 auto;
	padding-top: 3em;
}

.footer-text li {
	display: inline-block;
}

.nav li {
	padding: 0 0.2em;
}

.nav h1 {
	display: none;
}

.tiy-logo {
	background-color: #333;
	width: 6em;
	height: 4em;
	margin: 1em auto;
	margin-top: 3em;
}

.company {
	padding: 0 3em;
}

/* CSS for medium devices ≥1024px */

@media (min-width: 1024px) {

header {
	height: 33em;
}

.menu {
	padding: 0.7em 5em 0 5em;
}

.about-search {
	float: right;
}

.blog {
	float: left;
}

.blog li {
	display: inline-block;
	text-decoration: uppercase;
	vertical-align: top;
}

.wave {
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	background-color: black;
}

.menu h1 {
	font-size: 7em;

}

.two-columns {
	margin: 0 auto;
	max-width: 63em;
}

.content {
	max-width: 35em;
	display: inline-block;
}

.right-column {
	max-width: 20em;
	display: inline-block;
	vertical-align: top;
}

#sidebar{
	display: block;
	font-size: 1em;
	padding-bottom: 0.2em;
	text-align: left;
}

#sidebar-paragraph {
	display: block;
	text-align: left;
	line-height: 1.5em;
}

.read-comments {
	display: inline-block;
}

.read-later {
	display: inline-block;
}

.share-this-post {
	display: inline-block;
	margin-bottom: 5em;
}

.content2 h1 {
	text-align: center;
	font-size: 4em;
}

.content2 {
	padding: 0 0;
}

.post {
	margin-bottom: 0;
}

#hidden-post {
		background-color: black;
		display: inline-block;
}

.post {
	max-width: 25%;
	display: inline-block;
}
#second-post {
	padding-top: 4.5em;
}

footer {
	overflow: hidden;
	margin: 0 auto;
}

.footer-text {
	width: auto;
	font-size: 0.8em;
	padding-top: 0;
	padding: 2em 9em;
}

.nav {
	float: right;
	padding: 1.25em 0;
}

.nav h1 {
	display: inline-block;
}

.pic-copyright {
	float: left;
	text-align: left;
	margin: 0;
}

.tiy-logo {
	margin-top: 0;
	display: inline-block;
}

.company {
	display: inline-block;
	vertical-align: top;
	padding: 1.25em 1em;
}

}

/* CSS for medium devices ≥1076px */

@media (min-width: 1076px) {

#second-post {
	padding-top: 5.5em;
}

}

/* CSS for medium devices ≥1235px */

@media (min-width: 1235px) {

#second-post {
	padding-top: 6.5em;
}

}